:root {
    --primaryColor: #ffffff;
    --secondaryColor: #ffffff;
    --tertiaryColor: #ffffff;
    --primaryTextColor: #000000;
    --secondaryTextColor: #000000;
    --tertiaryTextColor: #000000;
}



nav {
    background-color: black;
}
nav h1 {
    color: var(--primaryTextColor);
}